[submodule "nova"]
	path = nova
	url = git://github.com/griddynamics/osc-robot-nova.git
[submodule "swift"]
	path = swift
	url = git://github.com/griddynamics/osc-robot-swift.git
[submodule "keystone"]
	path = keystone
	url = git://github.com/griddynamics/osc-robot-keystone.git
[submodule "glance"]
	path = glance
	url = git://github.com/griddynamics/osc-robot-glance.git
